<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="../js/admin.js"></script>
</head>
<body>
    <p>Welcome to the admin page</p>
    <audio id="demo">
        <source src="../audio/.." type="audio/mpeg">
    </audio>
    <div>
        <button onclick="play()">Play the Audio</button>
        <button onclick="pause()">Pause the Audio</button>
        <button onclick="decreaseVolume()">Decrease Volume</button>
        <button onclick="increaseVolume()">Increase Volume</button>
    </div>
</body>
</html>