<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/admin.js"></script>
</head>
<body>
    <p>Welcome to the admin page</p>
    <audio id="audio" controls>
    </audio>
    <div>
        <button class="playButton" >Play the Audio</button>
        <button class="pauseButton">Pause the Audio</button>
        <button class="decreaseVolumeButton" >Decrease Volume</button>
        <button class="increaseVolumeButton">Increase Volume</button>
    </div>
    <div id="status">
    </div>
</body>
</html>